body {
    background:darkgray
}

body {
    font:normal 15pt Arial;
}

header {
    color:white
}

header {
    text-align: center;
}

section {
    background:antiquewhite
}

section {
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    margin:auto
}

section {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.342);
}

div {
    text-align: center;
    padding: 10px;
}

footer {
    color:azure
}

footer {
    text-align: center;
}

.wrapper {
    max-width: 320px;
    margin: 10px auto;
}

.wrapper .search-input{
    background: #fff;
    width: 94%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
    height: 55px;
    width: 73%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
    border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search-input.active .autocom-box {
    padding: 20px 5px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 0px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    font-size: 25px;
}

.search-input.active .autocom-box li {
    display: block;
}
.autocom-box li:hover {
    background: #efefef;
}

.search-input .icon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: darkgray;
    cursor: pointer;
}

pre {
    padding-right: 100px;
}